.slide {
    position: relative;
}
.slide img {
    display: block;
}

.slider-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
}

.color-samples,
.action-buttons {
    display: flex;
    width: 100%;
}
.color-samples .color-sample {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 5px 10px 5px 0;
    box-sizing: border-box;
}

.load-image,
.run-animation,
.revert-animation {
    height: 30px;
    margin: 5px 5px 5px 0;
    box-sizing: border-box;
}